.bg-dark {
  background-color: rgb(56, 56, 56);
}

.text-white {
  color: white;
}

.custom-image {
  padding: 10px;
  border-radius: 20px;
  width: calc(100% - 20px);
}

.custom-buttons div,
.custom-buttons button {
  color: white;
  border-color: white;
}

.shopping-cart {
  position: fixed;
  top: 10px;
  right: 10px;
  height: calc(100% - 50px);
  background-color: rgb(56, 56, 56);
  border-radius: 0 0 20px 20px;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
}
